<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mom.client.mainpage.mapper.MainPageMapper">
<select id="getReview" resultType="Review">
		<![CDATA[
	 	SELECT review_no,
			        reserve_no,
			        user_no,
			        review_grade,
			        review_content,
			        review_date
			FROM (
			    SELECT
			        review_no,
			        reserve_no,
			        user_no,
			        review_grade,
			        review_content,
			        review_date
			    FROM review
			    ORDER BY review_grade DESC, review_date DESC
			)
			WHERE ROWNUM <= 15
		]]>
		</select>
</mapper>