<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- mapUnderscore ToCamelCase 프로퍼티 값을 true로 지정한다. -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	<!-- TypeAlias로 매핑 파일에서 반복적으로 사용될 패키지의 이름을 정의한다. -->
	<typeAliases>
		<package name="com.mom.client.item" />
		<package name="com.mom.client.reserve" />
		<package name="com.mom.client.user" />
		<package name="com.mom.client.login" />
		<package name="com.mom.client.reference" />
		<package name="com.mom.client.review" />
		<package name="com.mom.client.mypage" />
		<package name="com.mom.client.notice" />
	</typeAliases>

</configuration>